<div class="row">
  <div class="col-md-6 dash-left">
    <div class="inspiration">
      <h3 id="inspire">Need Inspiration?</h3>
      <%= link_to search_path do %>
      <button type="button" class="btn btn-success">Browse Restaurants</button>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 dash-right">
    <div class="inspiration">
      <h4>Invite friends to join you on your next Tuesdate</h4>
      <%= link_to new_group_path do %>
      <button type="button" class="btn btn-success">Create new group</button>
      <% end %>
    </div>
  </div>
</div>

<div class="container upcoming-label">
  <h5>Upcoming Events</h5>
</div>
<div class="container upcoming-events-list">
    <% if @future_events.empty? %>
      <p>You have no upcoming events</p>
    <% else %>
      <% @future_events.limit(3).each do |event| %>
        <%= render partial: "shared/event_tile", locals: {event: event} %>
      <% end %>
    <% end %>
</div>
<div class="container past-label">
  <h5>Past Events</h5>
</div>
<div class="container past-events-list">
  <% if @past_events.empty? %>
    <p>You have no past events</p>
  <% else %>
    <% @past_events.limit(3).each do |event| %>
      <%= render partial: "shared/event_tile", locals: {event: event} %>
    <% end %>
  <% end %>
</div>
