<div class="container">

  <h2> <%= @group.name %> </h2>
  <div>
    <h4> Group Members </h4>
      <% @group.users.each do |member| %>
        <li><%= member.first_name %> <%= member.last_name %></li>
      <% end %>
  </div>
  <%= link_to "Invite others to this group", groups_path %>

</div>
