
<div class="full-review">
  <li><%= stars_for_rating(review.stars) %></li>
  <li class="review-content"><%= review.review_content %></li>
  <li class="reviewer-name"><%= review.user.first_name %> <%= review.user.last_name %></li>
</div>
