<div class="basic-page-header">
  <h2>Update your RSVP for <%= "#{@event.restaurant.name}" %></h2>
</div>

<%= form_for [@event, @rsvp] do |f| %>
  <%= f.select :status, Rsvp.statuses.keys.to_a, {}, {class:"rsvp-picker"} %>
  <%= f.submit "Confirm RSVP", class: 'btn btn-success create-group-button' %>
<% end %>
