/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body.bg {
   background-image: url("https://images.unsplash.com/photo-1466978913421-dad2ebd01d17");
   background: cover no-repeat;
   background-size: 100% auto;
 }

 body .floater {
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: #ffffff;
   opacity: .6;
   z-index: -1;
 }

li, ul {
  list-style: none;
}

h1, h2, h3,h6 {
  color: #4A4A4A;
  font-family: 'Lato', sans-serif;
}

h4 {
  color: #A29A9E;
  font-family: 'Lato', sans-serif;
}

h5 {
  font-size: 18px;
  color: #5C6065;
}

h6 {
  font-size: 16px;
  color: #9B9B9B;
}

p, li {
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
  font-weight: 300;
  font-size: 15px;
}

a {
  color: #D62C80;
  font-family: 'Lato', sans-serif;
}

a:hover {
  color: #D62C80;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

 .alert {
   margin-top: -20px;
   text-align: center;
 }

 .avatar {
   height: 30px;
   border-radius: 3px !important;
   margin-left: 10px;
   margin-top: -10px;
   margin-bottom: -5px;
 }

.tues-description {
  background-color: #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  padding: 50px 0px 50px 0px;
  border-radius: 4px;
  max-width: 500px;
}

.login-button {
  padding-top: 20px;
}

.navbar.home {
  background-color: #D62C80;
}
.navbar.main {
  background-color: #FFFFFF;
}

.navbar-default.home {
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  border-color: #C82575;
}

.navbar-default.main {
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
}

.navbar-default .navbar-brand.home{
  color: #F7F7F7;
  font-family: 'Amatic SC', cursive;
  font-size: 34px;
}
.navbar-default .navbar-brand.main{
  color: #D62C80;
  font-family: 'Amatic SC', cursive;
  font-size: 34px;
}

.navbar-default .navbar-nav.home li a {
  color: #F7F7F7;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.navbar-nav.home ul.dropdown-menu li a {
  color: #D62C80;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.navbar-default .navbar-nav.main li a {
  color: #D62C80;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.group-info{
  text-align: center;
}

.group-members, .my-groups{
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 28%;
}

.btn-success{
  background-color: #D62C80;
  border-style: none;
  box-shadow: 0 1px 2px 0 #BFB7AE;
  border-radius: 48px;
}

.btn-success:hover{
  background-color: white;
  border: 2px solid #D62C80;
  color: #D62C80;
}

.btn-success:active, .btn-success:focus, .btn-success:active:hover, .btn-success:active:focus, .btn-success:active:hover{
  background-color: #C82575;
  color: #ffffff;
  border-style: none;
}

.dash-left{
  background-image: url("https://images.unsplash.com/uploads/1412198485051133af17f/5049dacb");
  margin-top: -20px;
  height: 25em;
  background-repeat: no-repeat;
  background-size: cover;
}
.dash-right{
  background-color: #F7F2F6;
  margin-top: -20px;
  height: 25em;
}
.event-left{
  background-image: url("https://images.unsplash.com/uploads/1412198485051133af17f/5049dacb");
  margin-top: -20px;
  height: 25em;
  background-repeat: no-repeat;
  background-size: cover;
}
.event-right{
  background-color: #F7F2F6;
  margin-top: -20px;
  height: 25em;
}

.event-right li, .event-tile-details li {
  display: flex;
  align-items: baseline;
}

.inspiration {
  text-align: center;
  padding-top: 20%;
}

#inspire{
  color: #F7F7F7;
}

.search-header {
  margin-top: -20px;
  background-image: url("https://images.unsplash.com/photo-1424847651672-bf20a4b0982b");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}

#search-text{
  color: #F7F7F7;
}

.search-form{
  text-align: center;
  padding-top: 10%;
}

.search-results, .search-label, .reviews-list {
  padding-top: 40px;
  padding-left: 30px;
  margin-left: 15%;
}

.event-reviews-label {
  padding-top: 40px;
  padding-left: 30px;
  margin-left: 15%;
}

.rest-name {
  font-weight: 400;
}

.restaurant-info {
  padding-bottom: 20px;
}

.restaurant-info li{
  color: #9B9B9B;
}

.event-tile-details {
  border: 1px solid #9B9B9B;
}
