<div class="basic-page-header">
  <h2>Reviews for <%= @restaurant.name %></h2>
</div>
<div class="container reviews-list">
  <% if @reviews.empty? %>
    <p><%= "There are no reviews for this restaurant." %></p>
  <% else %>
    <% @reviews.each do |review| %>
      <%= render partial: 'shared/reviews', locals: {review: review} %>
    <% end %>
  <% end %>
</div>
