<nav class="navbar navbar-default home">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if current_user %>
          <%= link_to 'Tuesdates', dashboard_path, class: "navbar-brand home" %>
        <% else %>
          <a class="navbar-brand home" href="/">Tuesdates</a>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if current_user %>
          <ul class="nav navbar-nav navbar-right home">
            <%= render partial: 'layouts/right_nav' %>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right home">
            <li> <%= link_to 'Sign in with Google', '/auth/google' %> </li>
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
